body {
	font-family: 'Roboto', sans-serif;
}
a {
	color: #b71a4c;
}
.front-indicator {
	width: 615px;
	margin: 5px 32px 15px 32px;
	background-color: #f6f6f6;	
	color: #adadad;
	text-align: center;
	padding: 3px;
	border-radius: 5px;
}
.wrapper {
	width: 100%;
	text-align: center;
  margin-top:150px;
}
.booking-details {
	float: left;
	text-align: left;
	margin-left: 35px;
	font-size: 12px;
	position: relative;
	height: 500px;
}
.booking-details h2 {
	margin: 25px 0 20px 0;
	font-size: 17px;
}
.booking-details h3 {
	margin: 5px 5px 0 0;
	font-size: 14px;
}
div.seatCharts-cell {
	color: #182C4E;
	height: 25px;
	width: 25px;
	line-height: 25px;
	
}
div.seatCharts-seat {
	color: #FFFFFF;
	cursor: pointer;	
}
div.seatCharts-row {
	height: 35px;
}
div.seatCharts-seat.available {
	background-color: #B9DEA0;

}
div.seatCharts-seat.available.first-class {
/* 	background: url(vip.png); */
	background-color: #3a78c3;
}
div.seatCharts-seat.focused {
	background-color: #76B474;
}
div.seatCharts-seat.selected {
	background-color: #E6CAC4;
}
div.seatCharts-seat.unavailable {
	background-color: #472B34;
}
div.seatCharts-container {
	border-right: 1px dotted #adadad;
	width: 200px;
	padding: 20px;
	float: left;
}
div.seatCharts-legend {
	padding-left: 0px;
	position: absolute;
	bottom: 0px;
}
ul.seatCharts-legendList {
	padding-left: 0px;
}
span.seatCharts-legendDescription {
	margin-left: 5px;
	line-height: 30px;
}
.checkout-button {
	display: block;
	margin: 10px 0;
	font-size: 14px;
}
#selected-seats {
	max-height: 90px;
	overflow-y: scroll;
	overflow-x: none;
	width: 170px;
}

#root{
}

#dialog{
    padding: 20px;
    border: 1px solid #808080;
    border-radius: 5px;
    width: 70%;
    height: 310px;
    font-size: 24px;
    resize: none;
    overflow: scroll;
    overflow-x: hidden;
    font-weight: 400;
}

#user_input{
    font-size: 30px;
    width: 70%;
    float: left;
}

#next-button{
    display: block;
}

#seat-map{
    width: 800px;
}

#booking-block{
    display: none;
    margin: 50px auto;
}

#selected-seats{
    max-height: 80px;
}

#button-block{
    display: table;
}

.root-btn{
    float: left;
}

#reset-button{
    margin-left: 30px;
}

.dialog-row{
    width: 100%;
    display: table;
    padding: 10px;
}

.bot-response{
    float: left;
    margin-left: 10px;
    padding: 6px 20px;
    position: relative;
    background: #39cccc;
    color: #317787;
    display: inline-block;
}

.bot-response:before{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #39cccc;
    margin: 15px 0 0 -6px;
}

.user-response{
    float: right;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    padding: 6px 20px;
    background: #46a3ff;
    color: #484891;
}

.user-response:before{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    top: 0;
    right: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #46a3ff;
    border-right: 0;
    margin: 15px -6px 0 0;
}

.bot-img{
    float: left;
    display: table;
}

.user-img{
    float: right;
    display: table;
}

img{
    width: 48px;
    height: 48px;
}

.dialog-selection{
    color: #6495ed;
    cursor: pointer;
}

.dialog-selection:hover{
    color: #337ab7;
    text-decoration: underline;   
}

#email-input-block{
    display: table;
    margin: 60px;
}

#email_input{
    width: 600px;
    font-size: 30px;
}

#user-input-block{
    display: table;
    width: 100%;
}

#mic-btn{
    float: left;
    cursor: pointer;
    margin-left: 10px; 
    margin-top: -3px;
}

#snapshot{
    display: none;
    margin: 20px auto;
}

#capture-block{
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

#capture-btns{
    display: table;
    margin: 20px auto;
}

#confirm-btns{
    display: none;
    margin: 20px auto;
}

#capture-btns button{
    float: left;
}

#confirm-btns button{
    float: left
}

#no-capture-btn{
    margin-left: 20px;
}

#redo-btn{
    margin-left: 20px;
}

#capture-block label{
    display: table;
    margin: auto;
}

#capture-block video{
    display: table;
    margin: 20px auto;
}

#movie-info-block{
    display: table;
    margin-top: 40px;
}

#movie-info-block div{
    font-size: 22px;
}
