<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Movie ChatBot</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.2.4/milligram.min.css">
    <script type="text/javascript" src="../static/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../static/scripts/jquery.seat-charts.min.js"></script>
    <script type="text/javascript" src="../static/scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../static/scripts/recorder.js"></script>
    <script type="text/javascript" src="../static/scripts/index.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.seat-charts.css">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
  </head>
  <body>
    <div class="container">
      <label style="font-size:70px">Movie ChatBot</label>
      <div id="root">
        <div id="root-left-block">
            <label for="Output" style="font-size:50px">Dialog</label>
            <div id="dialog">
            </div>
            <label for="Input" style="font-size:50px">User Input</label>
            <div id="user-input-block"><input id="user_input"><img id="mic-btn" src="../static/img/mic.png"></div>
            <div id="button-block">
                <button id="next-button" class="button-primary root-btn">Send</button>
                <button id="reset-button" class="button-primary root-btn">Reset</button>
            </div>
            <audio id="audio-element" preload></audio>
        </div>
        <div id="root-right-block">
        你可以問我：<br>
        電影的簡介<br>電影的類型<br>電影的放映時間<br>電影在特定戲院的版本<br>電影的名字<br>電影的國家<br>電影院的地址<br>電影院的電話<br>電影院的位置<br>電影院的名字<br>電影院的網站<br>電影的評價<br><br>
        或是告訴我：<br>
        你想看的電影名字<br>跟我打聲招呼<br>你想看哪國的電影<br>你想看的電影版本(2D，3D，英文版)<br>你想去的電影院或是他的所在地區
        </div>
      </div>
      <div id="booking-block">
      	<div id="seat-map">
      	    <div class="front-indicator">Screen</div>
    	</div>
    	<div class="booking-details">
            <h2>Booking Details</h2>
            <h3> Selected Seats (<span id="counter">0</span>):</h3>
            <ul id="selected-seats">
            </ul>
            Total: <b>$<span id="total">0</span></b>
            <button class="checkout-button">確認訂票</button>
            <div id="legend"></div>
            <div id="movie-info-block">
                <div id="movie-info-name"></div>
                <div id="movie-info-theater"></div>
                <div id="movie-info-time"></div>
            </div>
        </div>
        <div id="email-input-block"><input id="email_input" placeholder="請填寫您的 email address"></div>
      </div>
      <div id="capture-block">
            <label style="font-size:70px">Movie ChatBot</label>
            <video id="player" controls autoplay></video>
            <canvas id="snapshot" width=640 height=480></canvas>
            <div id="capture-btns">
                <button id="capture-btn">Capture</button>
                <button id="no-capture-btn">Skip</button>
            </div>
            <div id="confirm-btns">
                <button id="upload-btn">Upload</button>
                <button id="redo-btn">Redo</button>
            </div>
      </div>
    </div>
  </body>
</html>
